body {
    font-family: sans-serif ;
    text-align: center;
    padding-top: 50px;
}
.sinaleira{
    width: 100px;
    margin: 0 auto 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    }

.luz{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    background-color: #111;
    /*transition: background  0.8s;*/
   
}

.vermelho.ativo{
    background-color: red;
}

.amarelo.ativo{
    background-color: yellow;

}

.verde.ativo{
    background-color: green;

}
button{
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 50%;
}